

@media only screen and (max-width: 768px) {
    .headerrow, .timestampCell, .cloak-level-cell {
        display: none;
    }

    .charNameCell {
        font-weight: bold;
    }

    .dungeon-short-name:empty {
        display: none;
    }

}

@media all {
    
    [v-cloak] { display: none }

    .center {
        display: flex;
        justify-content: center;
    }

    .charlist {
        width: 80%;
        margin-bottom: 1em;
    }

    .charrow {
        margin-bottom: 1px;
    }

    .charrow:hover {
        background-color: lightskyblue !important;
    }

    .charrow.has-10 {
        background-color: lightpink !important;
    }
    .charrow.has-12 {
        background-color: lightblue !important;
    }    
    .charrow.has-15 {
        background-color: lightgreen !important;
    }    

    .headerrow {
        font-weight: bold;
        border-bottom: 2px solid black;
    }

    .charNameCell a {
        text-decoration: none;
    }

    .charNameCell a:hover {
        text-decoration: underline;
    }

    .keyCells div {
        text-align: center;
    }
    .keyCells div:nth-child(-n+10) {
        background-color: lightsalmon;
    }

    .keyCells div:nth-child(-n+4) {
        background-color: lightblue;
    }

    .keyCells div:nth-child(1) {
        background-color: lightgreen;
    }


    .info-block {
        font-size: x-small;
    }

    .dungeon-level-key-block {
        margin-bottom: 1em;
        width: 40%;
    }
    .dungeon-level-key-block div {
        text-align: center;
    }

    .dungeon-short-name {
        font-size: x-small;
    }

    .dungeon-list .charrow:nth-child(even) {
        background-color: whitesmoke;
    }
}
